.image-item{
    width: 23%;
    background-color: rgba(231, 230, 230, 0.842);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    outline: offset;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    gap: 10px;
    margin: 10px;
}
.image-dog{
    height: 80%;
    width: 90%;
}
@media screen and (max-width: 320px) {
    .image-item{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .image-item{
        display: flex;
        /* flex-direction: column; */
        width: 90%;
    }
}
@media (min-width: 481px) and (max-width: 600px) {
    .image-item{
        display: flex;
        width: 45%;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    .image-item{
        display: flex;
        width: 45%;
    }
}
@media (min-width: 801px) and (max-width: 1024px) {
    .image-item{
        display: flex;
        width: 31%;
    }
}
